@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+JP:wght@200..900&family=Rouge+Script&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: white;
min-height: 100vw;
}


/* Here is the style for the header using flex */

.header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem; 
background-color: white;
}

#logo{
font-family: "Great Vibes", cursive;
font-size: 1.8rem;
}
.nav-links{
list-style: none;
display: flex;
gap: 20px;
}
.nav-links a{
text-decoration: none;
font-size: 1rem;
color: black;
font-family: "Noto Serif JP", serif;
font-weight: bold;
}
.nav-links a:hover{
color: rgb(209, 139, 47);
}
/* Here is the style for the Navbar using flex */

.navbar{
display: flex;
justify-content: space-around;
background-color: white;
border-top: 2px solid black;
border-bottom: 2px solid black;
padding: 5px 0;
}
.navbar-links{
list-style: none;
display: flex;
gap: 170px;
}
.navbar-links a{
text-decoration: none;
font-size: 1rem;
color: black;
font-family: "Noto Serif JP", serif;
font-weight: bold;
}
/* Here the style for the recipe of the manth html file*/

.Recipe-container{
width: 95%;
max-width: 1200px;
margin: auto;

}


.main-grid{
display: grid;
grid-template-columns: 1.5fr 1fr;
gap: 2rem;
}
h1{
font-size: 4rem;
text-align: center;
padding-bottom: 1rem;
font-family: "Noto Serif JP", serif;;
}
.left-column{
grid-column: 1 / 2;
}


img{
width: 100%;
max-height: 550px;
border-radius: 2%;
}

.title{
font-size: 2rem;
}
.box{
width: 300px;
border: 5px solid rgb(13, 13, 13);
border-radius: 15px;
padding: 20px;
margin: 10px;
}
.box p{
text-align: center;
font-weight: bold;
font-size: 1.5rem;
font-family: "Noto Serif JP", serif;;
}

.row{
display: flex;
}
.box{
flex: 50%;

}
.box p{
font-family: "Noto Serif JP", serif;

}
table{
margin-top: 20px;
width: 100%;
border: 5px solid black;
border-radius: 15px;
}
th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}
.description{
font-family: "Noto Serif JP", serif;
font-size: 1.5rem;
}




/* Here is the style for the Footer*/

.footer{
background-color: black;
color: white;
text-align: center;
padding: 1rem;
}

.footer-links{
list-style: none;
display: flex;
gap: 30px;
justify-content: space-around;
align-items: center;
padding-bottom: 2px 20px;
    
   
}
.footer-links a{
text-decoration: none;
font-size: 1rem;
color: white;
    
  
}

.social-icons {
margin:  20px 0;
font-size: 2rem;
   
}
.my-icon{
color: white;
}
h4{
padding: 40px 0 0 0;
}



@media (max-width: 768px)  {
.main-grid{
grid-template-columns: 1fr ;
    }
h1{
font-size: 2rem;
}
img{
max-height: 350px;
}

.navbar-links{
gap: 30px;
}
.footer-links{
gap: 10px;
}
}
@media (min-width: 769px)  {
.main-grid{
grid-template-columns: 1fr ;
    }
h1{
font-size: 2rem;
}
img{
max-height: 350px;
}

.navbar-links{
gap: 30px;
}
.footer-links{
gap: 10px;
}
}
@media (min-width: 1200px)  {
.main-grid{
grid-template-columns: 1.5fr 1fr;
    }
h1{
font-size: 4rem;
}
img{
max-height: 550px;
}

.navbar-links{
gap: 30px;
}
.footer-links{
gap: 10px;
}
}